@import '_reset.less';
@import '_fonts.less';
@import (less) '../../node_modules/leaflet/dist/leaflet.css';
* {
  box-sizing: border-box;
}

@tabletMaxWidth: 1025;
@mobileMaxWidth: 550;
@tabletMinWidth: (@mobileMaxWidth + 1);
@desktopMinWidth: (@tabletMaxWidth + 1);
@mobile: ~"(max-width: @{mobileMaxWidth}px)";
@tablet: ~"(min-width: @{tabletMinWidth}px) and (max-width: @{tabletMaxWidth}px)";
@mobile-and-tablet: ~"(max-width: @{tabletMaxWidth}px)";
@tablet-and-desktop: ~"(min-width: @{tabletMinWidth}px)";
@desktop: ~"(min-width: @{desktopMinWidth}px)";
@darkBg: #151515;
@lightFontColor: #fafafa;
@desktopTopBarHeight: 70px;
@mobileTopBarHeight: 60px;
@rightBarWidth: 11em;
.body-font() {
  font-family: 'Roboto';
}
.instruments-font() {
  font-family: 'Roboto';
  font-weight: 700;
}
body {
  @media @desktop {
    font-size: 17px;
  }
  @media @tablet {
    font-size: 15px;
  }
  @media @mobile {
    font-size: 13px;
  }
  .body-font();
}
:focus {
    outline: 0;
    /* or */
    outline: none;
}
.top-bar-controls {
  position: absolute;
  background: @darkBg;
  top: 0;
  left: 0;
  right: 0;
  display: flex;

  @media @tablet-and-desktop {
    height: @desktopTopBarHeight;
  }
  @media @mobile {
   height: @mobileTopBarHeight;
  }

  .top-bar-controls-left {
    margin-right: 20px;
    flex: 0 0 auto;
  }
  .top-bar-controls-center {
    flex: 1 1 auto;
  }
  .top-bar-controls-right {
    flex: 0 0 auto;
    margin-right: 20px;
    display: flex;
  }

  .follow {
    margin-right: 20px;
  }
}

.right-bar-instruments {
  position: absolute;

  @media @tablet-and-desktop {
    top: @desktopTopBarHeight;
  }

  @media @mobile {
    top: @mobileTopBarHeight;
  }

  bottom: 0px;
  right: 0;
  width: 0px;
  background: @darkBg;
  z-index: 11111;
  overflow-x: hidden;
  overflow-y: auto;

  @media @tablet-and-desktop {
    transition: width 0.25s;
    .wrapper {
      width: @rightBarWidth;
      overflow: hidden;
    }
    &.visible {
      width: @rightBarWidth;
    }
  }
  @media @mobile {
    &.visible {
      left: 0;
      width: 100%;
    }
    .wrapper {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
.instrument {
  padding: 10px 20px;

  @media @mobile {
    width: 50%;
  }
  .top-row {
    display: flex;
  }
  .title, .unit {
    flex: 1 1 auto;
    font-size: 110%;
    color: darken(@lightFontColor, 20%);
    text-align: right;
  }
  .value {
    .instruments-font();
    margin: 10px 0;
    font-size: 350%;
    color: @lightFontColor;
    text-align: right;
  }
}

.leaflet-container {
  background-color:#c5e8ff;
}

.map-wrapper {
  position: absolute;
  @media @tablet-and-desktop {
    top: @desktopTopBarHeight;
  }

  @media @mobile {
    top: @mobileTopBarHeight;
  }
  bottom: 0;
  left: 0;
  right: 0;
  transition: right 0.25s;

  @media @tablet-and-desktop {
    &.instruments-visible {
      right: @rightBarWidth;
    }
  }
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.navigation {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
}
.leaflet-pane.leaflet-basemap-pane {
  z-index: 100;
}
.generate-panes(@counter) when (@counter >= 0) {
  .generate-panes((@counter - 1));
  .leaflet-pane.leaflet-chart-@{counter}-pane {
    z-index: (399 - @counter);
  }
}
.generate-panes(10);

.top-bar-button {
  background-color: lighten(@darkBg, 5%);
  display: block;
  height: 100%;
  border: 0;
  color: #fafafa;

  @media @tablet-and-desktop {
    width: @desktopTopBarHeight * 1.1;
  }

  @media @mobile {
    width: @mobileTopBarHeight;
  }
  cursor: pointer;
  border-left: 2px solid lighten(@darkBg, 25%);
  border-right: 2px solid lighten(@darkBg, 25%);
  font-size: 200%;
  &.enabled {
    text-shadow: 0px 0px 30px #fff679;
    color: #cbfff8;
  }
  &:active {
    background-color: lighten(@darkBg, 10%);
    font-size: 150%;
  }
}

.top-bar-button.fullscreen {
  @media @mobile {
    display: none;
  }
  margin-right: 20px;
  .icon-fullscreen {
    .icon-font-common();
  }
  &.disabled .icon-fullscreen:before {
    content: "\e989";
  }
  &.enabled .icon-fullscreen:before {
    content: "\e98c";
  }
  &.enabled {
    text-shadow: none;
    color: #fafafa;
  }
}
